/* BOTON LOGIN GOOGLE */
a.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

a.social-signin:hover,
a.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

a.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

a.social-signin.google {
    background: #DD4B39;
}

/* AVATAR USUARIO */

form .avatar{
    width: 55px;
    height: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar, .pub_image .container-avatar{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 10px;
    border: 1px solid grey;
}

.navbar .container-avatar img, .pub_image .container-avatar img{
    width: 100%;
    height: 100%;
}




.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.h-3 {
    height: 3rem;
}
.w-3 {
    width: 3rem;
}
