@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:'Nunito' !important;
}
/* BOTON LOGIN GOOGLE */
a.social-signin {
    margin-bottom: 20px;
    width: 320px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

a.social-signin:hover,
a.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

a.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

a.social-signin.google {
    background: #DD4B39;
}

/* AVATAR USUARIO */

form .avatar{
    width: 55px;
    height: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 10px;
    border: 1px solid grey;
}

.navbar .container-avatar img {
    width: 100%;
    height: 100%;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

/* INDEX */

.h-3 {
    height: 3rem;
}
.w-3 {
    width: 3rem;
}

.barTable:hover {
    background-color: rgba(122, 122, 122, 0.4);
}


/* COMENTARIOS */

.comment-profile {
    width: 50px;
    height: 50px;
    border-radius: 900px;
}

/* PAGOS BOTON */

#features{
    background: #212529;
    border: 2px solid #ffffff;
    border-radius: 1000px;
    padding: 10px 25px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 15px "Open Sans", sans-serif;
    text-align: center;
}

#features:hover{
    background: #ffffff;
    border: 2px solid #212529;
    color: #212529;
}

/* Boton like */

.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}

.info-box .info-box-icon {
    border-radius: 0.25rem;

    align-items: center;

    display: flex;
    font-size: 1.875rem;

    justify-content: center;
    text-align: center;
    width: 70px;
}

.info-box .info-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
}

.info-box .info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box .info-box-number {
    display: block;
    margin-top: 0.25rem;
    font-weight: 700;
}

.imageExercises{
    width: 300px;
    margin: 10px auto;
}

/* https://uiverse.io/detail/adamgiebl/giant-donkey-36 */
/* From uiverse.io by @adamgiebl */
.btnPremium {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.3em 1em;
    font-weight: 200;
    border: 2px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    color: black;
    text-decoration: none;
}

.btnPremium:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    color: black;
}

.btnPremium:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
    color: black;
}

/* Fondo de las imagenes */
body{
    background-color: #39b4da82 !important;
}

.navbarColor{
    background-color: #6766cc !important;
    background-image: linear-gradient(90deg, #6766cc 0%, #5e78d2 16%, #5489d7 36%, #4a9adc 52%, #35abe6 74%, #20bcf0 100%) !important;
}

.btn-gym{
        background-image: linear-gradient(to right, #35abe6  0%, #6766cc  51%, #20bcf0  100%);
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 20px;
        border: 0px;
}


.btn-gym:hover {
    background-position: center right; /* Cambiando la posicion para crear efecto de color */
    color: #fff;
    text-decoration: none;
}
